body {
  color: white;
  background-color: black;
}

.d-flex {
  display: flex;
}

.gap-20 {
  gap: 20px;
}

.left-section {
  width: 50%;
}

.right-section {
  width: 50%;
}

.link {
  color: white;
}

.error-text{
  color: rgb(223, 69, 69);
}

.user-panel {
  height: 200px;
  width: max-content;
  overflow-y: auto;
  padding: 0 15px;
  margin: 0 0 15px;
}

h1 {
  font-size: 18px;
}
